.questions {
    border: none;
    background-color: rgba(229, 210, 210, 0.466);
    padding: 2% 5%;
    margin: 2% 20%;
    border-radius: 20px;
}

.question-container {
    display: flex;
}

.fontSet {
    margin-left: 8%;
    display: flex;
    align-items: center;
}