.chart-headline {
    border: none;
    margin: 2% 30% 2% 30%;
    padding: 1%;
    font-size: 15px;
    background-color: rgb(198, 116, 116);
    border-radius: 20px;
    text-align: center;
}

.chart-headline:hover {
    background-color: rgb(46, 38, 38);
    color: #fff;

}