.Questions {
    margin: 5% 20%;
}

.question {
    border: 1px solid rgba(229, 210, 210, 0.466);
    background-color: rgba(229, 210, 210, 0.466);
    padding: 5% 10%;
    margin-bottom: 5%;
}

.title {
    border: none;
    margin: 2% 30% 2% 30%;
    padding: 1%;
    font-size: 25px;
    background-color: rgb(198, 116, 116);
    border-radius: 20px;
    text-align: center;
}

.title:hover {
    background-color: rgb(46, 38, 38);
    color: #fff;

}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 10px;
        padding: 10px;
    }

    .question {
        font-size: 10px;
    }
}